body {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

.nav {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #101010;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

.nav li {
    color: #FFF;
    display: inline-block;
    margin-left: 5px;
    /*background-color: #333;*/
    /* padding: 13px 15px; */
}

.nav ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
    overflow: hidden;
    margin: 0;
}

.nav a {
    display: block;
}

.brand {
    float: left;
    font-weight: 400;
    font-size: 18px;
    padding: 13px 15px;
}

.profile-container {
    width: 175px;
    display: inline-block;
}

.profile-name {
    position: relative;
    bottom: 5px;
}

.profile-image-container {
    display: inline;
    margin-right: 10px;
}

.profile-image-link {
    display: inline!important;
}

.profile-image {
    height: 30px;
    width: 30px;
    border: 3px solid #1272b2;
    border-radius: 50px;
    position: relative;
    top: 7px;
}

.left-nav {
    margin-top: 50px;
    height: 100vh;
    
}

.left-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(#101010 75%, #404040 100%)
}

.left-nav a {
    color: #FFF;
    
}

.left-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    opacity: .75;
    height: 65px;
    /* Styling for hover transition */
    background: linear-gradient(to left, transparent 50%, #303030 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.left-nav-item:hover {
    opacity: 1;
    background-position: left bottom;
}

.left-nav-icon {
    height: 25px;
    width: 25px;
    padding-right: 20px;
}


